In [2]:
import pandas as pd
import numpy as np

In [6]:
df=pd.read_csv('nyc_baby_names.csv')
df.head()

,Year of Birth,Gender,Ethnicity,Child's First Name,Count,Rank,Gender.1,Ethnicity.1,Child's First Name.1,Sub1,Sub2
0,2011,FEMALE,ASIAN AND PACIFIC ISLANDER,SOPHIA,119,1,Female,Asian And Pacific Islander,Sophia,Asian And Paci,Asian And Pacific Islander
1,2011,FEMALE,ASIAN AND PACIFIC ISLANDER,CHLOE,106,2,Female,Asian And Pacific Islander,Chloe,Asian And Paci,Asian And Pacific Islander
2,2011,FEMALE,ASIAN AND PACIFIC ISLANDER,EMILY,93,3,Female,Asian And Pacific Islander,Emily,Asian And Paci,Asian And Pacific Islander
3,2011,FEMALE,ASIAN AND PACIFIC ISLANDER,OLIVIA,89,4,Female,Asian And Pacific Islander,Olivia,Asian And Paci,Asian And Pacific Islander
4,2011,FEMALE,ASIAN AND PACIFIC ISLANDER,EMMA,75,5,Female,Asian And Pacific Islander,Emma,Asian And Paci,Asian And Pacific Islander

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11345 entries, 0 to 11344
Data columns (total 11 columns):
Year of Birth           11345 non-null int64
Gender                  11345 non-null object
Ethnicity               11345 non-null object
Child's First Name      11345 non-null object
Count                   11345 non-null int64
Rank                    11345 non-null int64
Gender.1                11345 non-null object
Ethnicity.1             11345 non-null object
Child's First Name.1    11345 non-null object
Sub1                    11345 non-null object
Sub2                    11345 non-null object
dtypes: int64(3), object(8)
memory usage: 975.0+ KB

In [ ]:
df_2=pd.read_json('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-analytics-bootcamp/tweets.json')

In [16]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1018 entries, 0 to 1017
Data columns (total 29 columns):
contributors                 0 non-null float64
coordinates                  3 non-null object
created_at                   1018 non-null datetime64[ns]
entities                     1018 non-null object
extended_entities            159 non-null object
favorite_count               1018 non-null int64
favorited                    1018 non-null bool
geo                          3 non-null object
id                           1018 non-null int64
id_str                       1018 non-null int64
in_reply_to_screen_name      1 non-null object
in_reply_to_status_id        0 non-null float64
in_reply_to_status_id_str    0 non-null float64
in_reply_to_user_id          1 non-null float64
in_reply_to_user_id_str      1 non-null float64
is_quote_status              1018 non-null bool
lang                         1018 non-null object
place                        341 non-null object
possibly_sensitive           533 non-null float64
quoted_status                17 non-null object
quoted_status_id             19 non-null float64
quoted_status_id_str         19 non-null float64
retweet_count                1018 non-null int64
retweeted                    1018 non-null bool
retweeted_status             100 non-null object
source                       1018 non-null object
text                         1018 non-null object
truncated                    1018 non-null bool
user                         1018 non-null object
dtypes: bool(4), datetime64[ns](1), float64(8), int64(4), object(12)
memory usage: 202.9+ KB

In [15]:
print(df)

       Year of Birth  Gender                   Ethnicity Child's First Name  \
0               2011  FEMALE  ASIAN AND PACIFIC ISLANDER             SOPHIA
1               2011  FEMALE  ASIAN AND PACIFIC ISLANDER              CHLOE
2               2011  FEMALE  ASIAN AND PACIFIC ISLANDER              EMILY
3               2011  FEMALE  ASIAN AND PACIFIC ISLANDER             OLIVIA
4               2011  FEMALE  ASIAN AND PACIFIC ISLANDER               EMMA
5               2011  FEMALE  ASIAN AND PACIFIC ISLANDER           ISABELLA
6               2011  FEMALE  ASIAN AND PACIFIC ISLANDER            TIFFANY
7               2011  FEMALE  ASIAN AND PACIFIC ISLANDER             ASHLEY
8               2011  FEMALE  ASIAN AND PACIFIC ISLANDER              FIONA
9               2011  FEMALE  ASIAN AND PACIFIC ISLANDER             ANGELA
10              2011  FEMALE  ASIAN AND PACIFIC ISLANDER             VIVIAN
11              2011  FEMALE  ASIAN AND PACIFIC ISLANDER           MICHELLE
12              2011  FEMALE  ASIAN AND PACIFIC ISLANDER             JOANNA
13              2011  FEMALE  ASIAN AND PACIFIC ISLANDER              SARAH
14              2011  FEMALE  ASIAN AND PACIFIC ISLANDER                MIA
15              2011  FEMALE  ASIAN AND PACIFIC ISLANDER                IVY
16              2011  FEMALE  ASIAN AND PACIFIC ISLANDER              GRACE
17              2011  FEMALE  ASIAN AND PACIFIC ISLANDER             NICOLE
18              2011  FEMALE  ASIAN AND PACIFIC ISLANDER              VICKY
19              2011  FEMALE  ASIAN AND PACIFIC ISLANDER            JASMINE
20              2011  FEMALE  ASIAN AND PACIFIC ISLANDER               ANNA
21              2011  FEMALE  ASIAN AND PACIFIC ISLANDER             ELAINE
22              2011  FEMALE  ASIAN AND PACIFIC ISLANDER              ALICE
23              2011  FEMALE  ASIAN AND PACIFIC ISLANDER          CATHERINE
24              2011  FEMALE  ASIAN AND PACIFIC ISLANDER             CLAIRE
25              2011  FEMALE  ASIAN AND PACIFIC ISLANDER              JENNY
26              2011  FEMALE  ASIAN AND PACIFIC ISLANDER               MAYA
27              2011  FEMALE  ASIAN AND PACIFIC ISLANDER             ALYSSA
28              2011  FEMALE  ASIAN AND PACIFIC ISLANDER           ANGELINA
29              2011  FEMALE  ASIAN AND PACIFIC ISLANDER               IRIS
...              ...     ...                         ...                ...
11315           2016  FEMALE          BLACK NON HISPANIC             Audrey
11316           2016  FEMALE          BLACK NON HISPANIC            Kaliyah
11317           2016  FEMALE          BLACK NON HISPANIC           Malaysia
11318           2016  FEMALE          BLACK NON HISPANIC           Mckenzie
11319           2016  FEMALE          BLACK NON HISPANIC            Melanie
11320           2016  FEMALE          BLACK NON HISPANIC             Nalani
11321           2016  FEMALE          BLACK NON HISPANIC           Princess
11322           2016  FEMALE          BLACK NON HISPANIC              Reign
11323           2016  FEMALE          BLACK NON HISPANIC              Rylee
11324           2016  FEMALE          BLACK NON HISPANIC              Tamia
11325           2016  FEMALE          BLACK NON HISPANIC          Annabelle
11326           2016  FEMALE          BLACK NON HISPANIC             Ashley
11327           2016  FEMALE          BLACK NON HISPANIC           Blessing
11328           2016  FEMALE          BLACK NON HISPANIC              Fanta
11329           2016  FEMALE          BLACK NON HISPANIC               Hope
11330           2016  FEMALE          BLACK NON HISPANIC            Jaliyah
11331           2016  FEMALE          BLACK NON HISPANIC            Khadija
11332           2016  FEMALE          BLACK NON HISPANIC               Kori
11333           2016  FEMALE          BLACK NON HISPANIC              Leila
11334           2016  FEMALE          BLACK NON HISPANIC           Maimouna
11335           2016  FEMALE          BLACK NON HISPANIC            Mikayla
11336           2016  FEMALE          BLACK NON HISPANIC               Mila
11337           2016  FEMALE          BLACK NON HISPANIC              Milan
11338           2016  FEMALE          BLACK NON HISPANIC              Sanaa
11339           2016  FEMALE          BLACK NON HISPANIC              Sanai
11340           2016  FEMALE          BLACK NON HISPANIC            Saniyah
11341           2016  FEMALE          BLACK NON HISPANIC               Skye
11342           2016  FEMALE          BLACK NON HISPANIC              Tiana
11343           2016  FEMALE          BLACK NON HISPANIC             Violet
11344           2016  FEMALE          BLACK NON HISPANIC              Zahra

       Count  Rank Gender.1                 Ethnicity.1 Child's First Name.1  \
0        119     1   Female  Asian And Pacific Islander               Sophia
1        106     2   Female  Asian And Pacific Islander                Chloe
2         93     3   Female  Asian And Pacific Islander                Emily
3         89     4   Female  Asian And Pacific Islander               Olivia
4         75     5   Female  Asian And Pacific Islander                 Emma
5         67     6   Female  Asian And Pacific Islander             Isabella
6         54     7   Female  Asian And Pacific Islander              Tiffany
7         52     8   Female  Asian And Pacific Islander               Ashley
8         48     9   Female  Asian And Pacific Islander                Fiona
9         47    10   Female  Asian And Pacific Islander               Angela
10        44    11   Female  Asian And Pacific Islander               Vivian
11        42    12   Female  Asian And Pacific Islander             Michelle
12        38    13   Female  Asian And Pacific Islander               Joanna
13        38    13   Female  Asian And Pacific Islander                Sarah
14        36    14   Female  Asian And Pacific Islander                  Mia
15        35    15   Female  Asian And Pacific Islander                  Ivy
16        33    16   Female  Asian And Pacific Islander                Grace
17        33    16   Female  Asian And Pacific Islander               Nicole
18        32    17   Female  Asian And Pacific Islander                Vicky
19        31    18   Female  Asian And Pacific Islander              Jasmine
20        30    19   Female  Asian And Pacific Islander                 Anna
21        28    20   Female  Asian And Pacific Islander               Elaine
22        27    21   Female  Asian And Pacific Islander                Alice
23        27    21   Female  Asian And Pacific Islander            Catherine
24        27    21   Female  Asian And Pacific Islander               Claire
25        27    21   Female  Asian And Pacific Islander                Jenny
26        27    21   Female  Asian And Pacific Islander                 Maya
27        26    22   Female  Asian And Pacific Islander               Alyssa
28        26    22   Female  Asian And Pacific Islander             Angelina
29        26    22   Female  Asian And Pacific Islander                 Iris
...      ...   ...      ...                         ...                  ...
11315     11    42   Female          Black Non Hispanic               Audrey
11316     11    42   Female          Black Non Hispanic              Kaliyah
11317     11    42   Female          Black Non Hispanic             Malaysia
11318     11    42   Female          Black Non Hispanic             Mckenzie
11319     11    42   Female          Black Non Hispanic              Melanie
11320     11    42   Female          Black Non Hispanic               Nalani
11321     11    42   Female          Black Non Hispanic             Princess
11322     11    42   Female          Black Non Hispanic                Reign
11323     11    42   Female          Black Non Hispanic                Rylee
11324     11    42   Female          Black Non Hispanic                Tamia
11325     10    43   Female          Black Non Hispanic            Annabelle
11326     10    43   Female          Black Non Hispanic               Ashley
11327     10    43   Female          Black Non Hispanic             Blessing
11328     10    43   Female          Black Non Hispanic                Fanta
11329     10    43   Female          Black Non Hispanic                 Hope
11330     10    43   Female          Black Non Hispanic              Jaliyah
11331     10    43   Female          Black Non Hispanic              Khadija
11332     10    43   Female          Black Non Hispanic                 Kori
11333     10    43   Female          Black Non Hispanic                Leila
11334     10    43   Female          Black Non Hispanic             Maimouna
11335     10    43   Female          Black Non Hispanic              Mikayla
11336     10    43   Female          Black Non Hispanic                 Mila
11337     10    43   Female          Black Non Hispanic                Milan
11338     10    43   Female          Black Non Hispanic                Sanaa
11339     10    43   Female          Black Non Hispanic                Sanai
11340     10    43   Female          Black Non Hispanic              Saniyah
11341     10    43   Female          Black Non Hispanic                 Skye
11342     10    43   Female          Black Non Hispanic                Tiana
11343     10    43   Female          Black Non Hispanic               Violet
11344     10    43   Female          Black Non Hispanic                Zahra

                 Sub1                        Sub2
0      Asian And Paci  Asian And Pacific Islander
1      Asian And Paci  Asian And Pacific Islander
2      Asian And Paci  Asian And Pacific Islander
3      Asian And Paci  Asian And Pacific Islander
4      Asian And Paci  Asian And Pacific Islander
5      Asian And Paci  Asian And Pacific Islander
6      Asian And Paci  Asian And Pacific Islander
7      Asian And Paci  Asian And Pacific Islander
8      Asian And Paci  Asian And Pacific Islander
9      Asian And Paci  Asian And Pacific Islander
10     Asian And Paci  Asian And Pacific Islander
11     Asian And Paci  Asian And Pacific Islander
12     Asian And Paci  Asian And Pacific Islander
13     Asian And Paci  Asian And Pacific Islander
14     Asian And Paci  Asian And Pacific Islander
15     Asian And Paci  Asian And Pacific Islander
16     Asian And Paci  Asian And Pacific Islander
17     Asian And Paci  Asian And Pacific Islander
18     Asian And Paci  Asian And Pacific Islander
19     Asian And Paci  Asian And Pacific Islander
20     Asian And Paci  Asian And Pacific Islander
21     Asian And Paci  Asian And Pacific Islander
22     Asian And Paci  Asian And Pacific Islander
23     Asian And Paci  Asian And Pacific Islander
24     Asian And Paci  Asian And Pacific Islander
25     Asian And Paci  Asian And Pacific Islander
26     Asian And Paci  Asian And Pacific Islander
27     Asian And Paci  Asian And Pacific Islander
28     Asian And Paci  Asian And Pacific Islander
29     Asian And Paci  Asian And Pacific Islander
...               ...                         ...
11315  Black Non Hisp          Black Non Hispanic
11316  Black Non Hisp          Black Non Hispanic
11317  Black Non Hisp          Black Non Hispanic
11318  Black Non Hisp          Black Non Hispanic
11319  Black Non Hisp          Black Non Hispanic
11320  Black Non Hisp          Black Non Hispanic
11321  Black Non Hisp          Black Non Hispanic
11322  Black Non Hisp          Black Non Hispanic
11323  Black Non Hisp          Black Non Hispanic
11324  Black Non Hisp          Black Non Hispanic
11325  Black Non Hisp          Black Non Hispanic
11326  Black Non Hisp          Black Non Hispanic
11327  Black Non Hisp          Black Non Hispanic
11328  Black Non Hisp          Black Non Hispanic
11329  Black Non Hisp          Black Non Hispanic
11330  Black Non Hisp          Black Non Hispanic
11331  Black Non Hisp          Black Non Hispanic
11332  Black Non Hisp          Black Non Hispanic
11333  Black Non Hisp          Black Non Hispanic
11334  Black Non Hisp          Black Non Hispanic
11335  Black Non Hisp          Black Non Hispanic
11336  Black Non Hisp          Black Non Hispanic
11337  Black Non Hisp          Black Non Hispanic
11338  Black Non Hisp          Black Non Hispanic
11339  Black Non Hisp          Black Non Hispanic
11340  Black Non Hisp          Black Non Hispanic
11341  Black Non Hisp          Black Non Hispanic
11342  Black Non Hisp          Black Non Hispanic
11343  Black Non Hisp          Black Non Hispanic
11344  Black Non Hisp          Black Non Hispanic

[11345 rows x 11 columns]

In [17]:
df_2.head()

,contributors,coordinates,created_at,entities,extended_entities,favorite_count,favorited,geo,id,id_str,...,quoted_status,quoted_status_id,quoted_status_id_str,retweet_count,retweeted,retweeted_status,source,text,truncated,user
0,NaN,None,2017-01-01 06:49:49,"{'hashtags': [], 'user_mentions': [{'id': 5254...",NaN,0,False,None,815449933453127681,815449933453127680,...,NaN,NaN,NaN,6525,False,"{'id': 815413345935355904, 'favorited': False,...","<a href=""http://twitter.com/download/iphone"" r...",RT @IvankaTrump: 2016 has been one of the most...,False,"{'id': 25073877, 'id_str': '25073877'}"
1,NaN,None,2017-01-01 06:49:33,"{'hashtags': [{'indices': [45, 53], 'text': 'n...","{'media': [{'id': 815419531078336512, 'source_...",0,False,None,815449868739211265,815449868739211264,...,NaN,NaN,NaN,3966,False,"{'id': 815419542440648704, 'entities': {'hasht...","<a href=""http://twitter.com/download/iphone"" r...",RT @DonaldJTrumpJr: Happy new year everyone. #...,False,"{'id': 25073877, 'id_str': '25073877'}"
2,NaN,None,2017-01-01 05:44:17,"{'hashtags': [], 'user_mentions': [{'id': 3934...",NaN,0,False,None,815433444591304704,815433444591304704,...,NaN,NaN,NaN,3986,False,"{'id': 815430762430365696, 'entities': {'hasht...","<a href=""http://twitter.com/download/iphone"" r...",RT @EricTrump: 2016 was such an incredible yea...,False,"{'id': 25073877, 'id_str': '25073877'}"
3,NaN,None,2017-01-01 05:43:23,"{'hashtags': [], 'user_mentions': [{'id': 2073...",NaN,0,False,None,815433217595547648,815433217595547648,...,NaN,NaN,NaN,4572,False,"{'id': 815421950159949824, 'favorited': False,...","<a href=""http://twitter.com/download/iphone"" r...",RT @Reince: Happy New Year + God's blessings t...,False,"{'id': 25073877, 'id_str': '25073877'}"
4,NaN,None,2017-01-01 05:39:13,"{'hashtags': [{'indices': [38, 44], 'text': 'P...",NaN,0,False,None,815432169464197121,815432169464197120,...,NaN,8.154223e+17,8.154223e+17,3411,False,"{'id': 815425454807072768, 'entities': {'hasht...","<a href=""http://twitter.com/download/iphone"" r...",RT @DanScavino: On behalf of our next #POTUS &...,False,"{'id': 25073877, 'id_str': '25073877'}"

In [14]:
print(df_2)

      contributors                                        coordinates  \
0              NaN                                               None
1              NaN                                               None
2              NaN                                               None
3              NaN                                               None
4              NaN                                               None
5              NaN                                               None
6              NaN                                               None
7              NaN                                               None
8              NaN                                               None
9              NaN                                               None
10             NaN                                               None
11             NaN                                               None
12             NaN                                               None
13             NaN                                               None
14             NaN                                               None
15             NaN                                               None
16             NaN                                               None
17             NaN                                               None
18             NaN                                               None
19             NaN                                               None
20             NaN                                               None
21             NaN                                               None
22             NaN                                               None
23             NaN                                               None
24             NaN                                               None
25             NaN                                               None
26             NaN                                               None
27             NaN                                               None
28             NaN                                               None
29             NaN                                               None
...            ...                                                ...
988            NaN                                               None
989            NaN                                               None
990            NaN                                               None
991            NaN                                               None
992            NaN                                               None
993            NaN                                               None
994            NaN                                               None
995            NaN                                               None
996            NaN                                               None
997            NaN                                               None
998            NaN                                               None
999            NaN                                               None
1000           NaN                                               None
1001           NaN                                               None
1002           NaN                                               None
1003           NaN                                               None
1004           NaN                                               None
1005           NaN  {'type': 'Point', 'coordinates': [-97.59974429...
1006           NaN                                               None
1007           NaN                                               None
1008           NaN                                               None
1009           NaN                                               None
1010           NaN                                               None
1011           NaN                                               None
1012           NaN                                               None
1013           NaN                                               None
1014           NaN                                               None
1015           NaN                                               None
1016           NaN                                               None
1017           NaN                                               None

              created_at                                           entities  \
0    2017-01-01 06:49:49  {'hashtags': [], 'user_mentions': [{'id': 5254...
1    2017-01-01 06:49:33  {'hashtags': [{'indices': [45, 53], 'text': 'n...
2    2017-01-01 05:44:17  {'hashtags': [], 'user_mentions': [{'id': 3934...
3    2017-01-01 05:43:23  {'hashtags': [], 'user_mentions': [{'id': 2073...
4    2017-01-01 05:39:13  {'hashtags': [{'indices': [38, 44], 'text': 'P...
5    2017-01-01 05:00:10  {'hashtags': [{'indices': [18, 31], 'text': 'H...
6    2016-12-31 18:59:04  {'hashtags': [], 'user_mentions': [{'id': 2507...
7    2016-12-31 18:58:12  {'hashtags': [], 'user_mentions': [{'id': 3934...
8    2016-12-31 13:17:21  {'hashtags': [], 'user_mentions': [], 'urls': ...
9    2016-12-30 22:18:18  {'hashtags': [], 'user_mentions': [{'id': 7592...
10   2016-12-30 19:46:55  {'hashtags': [], 'user_mentions': [{'id': 1188...
11   2016-12-30 19:41:33  {'hashtags': [], 'user_mentions': [], 'urls': ...
12   2016-12-29 14:54:21  {'hashtags': [], 'user_mentions': [], 'urls': ...
13   2016-12-28 22:06:28  {'hashtags': [], 'user_mentions': [], 'urls': ...
14   2016-12-28 14:25:11  {'hashtags': [], 'user_mentions': [], 'urls': ...
15   2016-12-28 14:19:46  {'hashtags': [], 'user_mentions': [], 'urls': ...
16   2016-12-28 14:07:13  {'hashtags': [], 'user_mentions': [], 'urls': ...
17   2016-12-28 03:10:07  {'hashtags': [], 'user_mentions': [], 'urls': ...
18   2016-12-27 21:52:29  {'hashtags': [], 'user_mentions': [], 'urls': ...
19   2016-12-27 03:06:59  {'hashtags': [], 'user_mentions': [], 'urls': ...
20   2016-12-27 02:53:20  {'hashtags': [], 'user_mentions': [], 'urls': ...
21   2016-12-26 23:32:28  {'hashtags': [], 'user_mentions': [], 'urls': ...
22   2016-12-26 21:41:58  {'hashtags': [], 'user_mentions': [], 'urls': ...
23   2016-12-26 21:36:28  {'hashtags': [], 'user_mentions': [], 'urls': ...
24   2016-12-25 17:48:48  {'hashtags': [], 'user_mentions': [], 'urls': ...
25   2016-12-25 12:46:41  {'hashtags': [{'indices': [0, 15], 'text': 'Me...
26   2016-12-24 21:44:32  {'hashtags': [{'indices': [6, 15], 'text': 'Ha...
27   2016-12-24 21:33:27  {'hashtags': [], 'user_mentions': [], 'urls': ...
28   2016-12-24 20:59:30  {'hashtags': [], 'user_mentions': [{'id': 1417...
29   2016-12-24 00:13:02  {'hashtags': [], 'user_mentions': [], 'urls': ...
...                  ...                                                ...
988  2016-09-20 13:49:50  {'hashtags': [{'indices': [19, 32], 'text': 'A...
989  2016-09-20 12:02:35  {'hashtags': [], 'user_mentions': [], 'urls': ...
990  2016-09-20 00:26:50  {'hashtags': [], 'media': [{'id': 778027531794...
991  2016-09-20 00:19:00  {'hashtags': [{'indices': [53, 63], 'text': 'I...
992  2016-09-20 00:14:56  {'hashtags': [], 'user_mentions': [{'id': 2397...
993  2016-09-19 19:52:00  {'hashtags': [], 'user_mentions': [], 'urls': ...
994  2016-09-19 16:53:42  {'hashtags': [], 'user_mentions': [], 'urls': ...
995  2016-09-19 16:41:15  {'hashtags': [], 'user_mentions': [], 'urls': ...
996  2016-09-19 16:32:32  {'hashtags': [], 'user_mentions': [], 'urls': ...
997  2016-09-19 12:27:28  {'hashtags': [], 'user_mentions': [{'id': 5530...
998  2016-09-19 12:14:59  {'hashtags': [], 'user_mentions': [{'id': 1889...
999  2016-09-19 11:02:30  {'hashtags': [], 'user_mentions': [{'id': 1551...
1000 2016-09-19 02:32:03  {'hashtags': [], 'user_mentions': [], 'urls': ...
1001 2016-09-19 02:30:34  {'hashtags': [], 'user_mentions': [], 'urls': ...
1002 2016-09-18 21:11:48  {'hashtags': [], 'media': [{'id': 777616121612...
1003 2016-09-18 21:07:05  {'hashtags': [{'indices': [31, 37], 'text': 'p...
1004 2016-09-18 13:06:56  {'hashtags': [], 'user_mentions': [], 'urls': ...
1005 2016-09-17 23:14:58  {'hashtags': [], 'user_mentions': [], 'urls': ...
1006 2016-09-17 23:03:47  {'hashtags': [], 'user_mentions': [], 'urls': ...
1007 2016-09-17 22:57:09  {'hashtags': [], 'user_mentions': [{'id': 8070...
1008 2016-09-17 21:38:50  {'hashtags': [], 'user_mentions': [{'id': 8070...
1009 2016-09-17 17:29:26  {'hashtags': [], 'user_mentions': [{'id': 8070...
1010 2016-09-17 17:28:43  {'hashtags': [], 'user_mentions': [{'id': 7920...
1011 2016-09-17 13:13:43  {'hashtags': [], 'user_mentions': [{'id': 7592...
1012 2016-09-17 11:51:41  {'hashtags': [], 'user_mentions': [], 'urls': ...
1013 2016-09-17 05:53:09  {'hashtags': [], 'user_mentions': [], 'urls': ...
1014 2016-09-17 05:25:48  {'hashtags': [], 'user_mentions': [{'id': 7349...
1015 2016-09-17 05:15:44  {'hashtags': [], 'user_mentions': [], 'urls': ...
1016 2016-09-17 04:43:14  {'hashtags': [], 'user_mentions': [{'id': 4845...
1017 2016-09-17 04:15:53  {'hashtags': [], 'user_mentions': [{'id': 5712...

                                      extended_entities  favorite_count  \
0                                                   NaN               0
1     {'media': [{'id': 815419531078336512, 'source_...               0
2                                                   NaN               0
3                                                   NaN               0
4                                                   NaN               0
5                                                   NaN           84725
6                                                   NaN               0
7                                                   NaN           47288
8                                                   NaN          309921
9                                                   NaN           78426
10                                                  NaN           21905
11                                                  NaN           91468
12                                                  NaN           43245
13                                                  NaN           49031
14                                                  NaN          113981
15                                                  NaN          102579
16                                                  NaN          114391
17                                                  NaN           76488
18                                                  NaN           97909
19                                                  NaN           65869
20                                                  NaN           69742
21                                                  NaN          126833
22                                                  NaN           76076
23                                                  NaN           90129
24                                                  NaN          212770
25    {'media': [{'id': 813003024427675648, 'indices...          150602
26    {'media': [{'id': 812775986538246144, 'indices...           83173
27                                                  NaN           82559
28                                                  NaN           62146
29                                                  NaN          112740
...                                                 ...             ...
988   {'media': [{'id': 778229679421546496, 'indices...           17025
989                                                 NaN           27743
990   {'media': [{'id': 778027531794542593, 'indices...           22598
991   {'media': [{'id': 778025485808828416, 'video_i...           27681
992                                                 NaN           13394
993                                                 NaN           17388
994                                                 NaN           25160
995                                                 NaN           41533
996                                                 NaN           48517
997                                                 NaN           18228
998                                                 NaN           15014
999                                                 NaN           11299
1000                                                NaN           39985
1001                                                NaN           48389
1002  {'media': [{'id': 777616121612603392, 'indices...           33802
1003                                                NaN               0
1004                                                NaN           52465
1005                                                NaN           20234
1006                                                NaN           22815
1007                                                NaN           27417
1008                                                NaN           31217
1009                                                NaN           18388
1010                                                NaN           20472
1011                                                NaN           39660
1012                                                NaN           23981
1013                                                NaN           39795
1014                                                NaN           20937
1015                                                NaN           19381
1016                                                NaN           14221
1017                                                NaN           26687

      favorited                                                geo  \
0         False                                               None
1         False                                               None
2         False                                               None
3         False                                               None
4         False                                               None
5         False                                               None
6         False                                               None
7         False                                               None
8         False                                               None
9         False                                               None
10        False                                               None
11        False                                               None
12        False                                               None
13        False                                               None
14        False                                               None
15        False                                               None
16        False                                               None
17        False                                               None
18        False                                               None
19        False                                               None
20        False                                               None
21        False                                               None
22        False                                               None
23        False                                               None
24        False                                               None
25        False                                               None
26        False                                               None
27        False                                               None
28        False                                               None
29        False                                               None
...         ...                                                ...
988       False                                               None
989       False                                               None
990       False                                               None
991       False                                               None
992       False                                               None
993       False                                               None
994       False                                               None
995       False                                               None
996       False                                               None
997       False                                               None
998       False                                               None
999       False                                               None
1000      False                                               None
1001      False                                               None
1002      False                                               None
1003      False                                               None
1004      False                                               None
1005      False  {'type': 'Point', 'coordinates': [35.21753815,...
1006      False                                               None
1007      False                                               None
1008      False                                               None
1009      False                                               None
1010      False                                               None
1011      False                                               None
1012      False                                               None
1013      False                                               None
1014      False                                               None
1015      False                                               None
1016      False                                               None
1017      False                                               None

                      id              id_str  \
0     815449933453127681  815449933453127680
1     815449868739211265  815449868739211264
2     815433444591304704  815433444591304704
3     815433217595547648  815433217595547648
4     815432169464197121  815432169464197120
5     815422340540547073  815422340540547072
6     815271067749060609  815271067749060608
7     815270850916208644  815270850916208640
8     815185071317676033  815185071317676032
9     814958820980039681  814958820980039680
10    814920722208296960  814920722208296960
11    814919370711461890  814919370711461888
12    814484710025994241  814484710025994240
13    814231064847728640  814231064847728640
14    814114980983427073  814114980983427072
15    814113616110751744  814113616110751744
16    814110460761018368  814110460761018368
17    813945096269860866  813945096269860864
18    813865160163098628  813865160163098624
19    813581917215977473  813581917215977472
20    813578484572450816  813578484572450816
21    813527932165558273  813527932165558272
22    813500123053490176  813500123053490176
23    813498739923054593  813498739923054592
24    813079058896535552  813079058896535552
25    813003030186622976  813003030186622976
26    812775995837218816  812775995837218816
27    812773204561379330  812773204561379328
28    812764662500622336  812764662500622336
29    812450976670121985  812450976670121984
...                  ...                 ...
988   778229686769967104  778229686769967104
989   778202693215068161  778202693215068160
990   778027605572329472  778027605572329472
991   778025630956912640  778025630956912640
992   778024608733749249  778024608733749248
993   777958440211771392  777958440211771392
994   777913567676866560  777913567676866560
995   777910435425226753  777910435425226752
996   777908242538196992  777908242538196992
997   777846568741441536  777846568741441536
998   777843428449251328  777843428449251328
999   777825186758418432  777825186758418432
1000  777696726933180416  777696726933180416
1001  777696356211326976  777696356211326976
1002  777616135856545792  777616135856545792
1003  777614946951696384  777614946951696384
1004  777494113834917888  777494113834917888
1005  777284744253812740  777284744253812736
1006  777281927841587200  777281927841587200